
:root {
    --moderate-violet : hsl(263, 55%, 52%);
    --very-dark-grayish-blue : hsl(217, 19%, 35%);
    --very-dark-grayish-blue-v2 : hsl(217, 19%, 50%);
    --very-dark-grayish-blue-v3 : hsl(217, 19%, 70%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --light-gray : hsl(0, 0%, 81%);
    --light-grayish-blue : hsl(210, 46%, 95%);

    --font-family: 'Barlow Semi Condensed', sans-serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: var(--font-family);
    font-size: 0,81rem;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    margin: 1.1em;
    background: var(--light-grayish-blue);
}

.clr-para {
    color: var(--very-dark-grayish-blue-v3);
}

.clr-verified {
    color: var(--very-dark-grayish-blue-v2);
}

.dark-black-blue-clr {
    color: var(--very-dark-blackish-blue);
}

.dark-bg {
    background-color: var(--very-dark-blackish-blue);
}

.dark-clr-text {
    color: var(--very-dark-grayish-blue);
}

.light-clr-text {
    color: var(--white);
}

.bg-purple {
    background-color: var(--moderate-violet);
}

.bg-gray {
    background-color: var(--very-dark-grayish-blue);
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.bg-dark {
    background-color: var(--very-dark-blackish-blue);
}

.bg-white {
    background-color: var(--white);
}



/* main  : Cards-Container */
.card-container {
    margin: 5em 0;
    display: grid;
}

/* Each Card */
.card {
    margin-bottom: 2em; 
    padding: 2em;
    border-radius: 10px;
}

.card header {
    display: flex;
    gap: 1em;
    padding-bottom: 1.5em;
}

header .profile-pic {
    width: 40px;
    border-radius: 50%;
    border: 3px solid var(--very-dark-grayish-blue-v3);

}

.card .para {
    padding-top: 1em;
    font-size: 1rem;
}

/* First Card BG Image */

.card-bg-img {
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right;
}


@media (min-width: 1200px) {

    .cards-container {
        margin: 5em 4em;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(4,1fr);

    }

    .card {
        margin-bottom: 0; 
        padding: 2em;
        border-radius: 10px;
    }

     .grid-col-span-2 {
         grid-column: span 2; 
    }  

    .card:last-child {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

